@charset 'utf-8';
@import '/node_modules/normalize.css/normalize.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

// variable
$basic-color: #181818;

// common setting
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: $basic-color;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
}