@charset 'utf-8';
@import '/node_modules/normalize.css/normalize.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

// variable
$font-color: #4a5568;
$basic-color: #f7f7f7;
$white: #fff;

// mixin
@mixin neumorphism {
  background-color: $basic-color;
  box-shadow: -4px -2px 4px 0px $white, 4px 2px 6px 0px #dfe4ea;
}

@mixin neumorphismClick {
  background-color: $basic-color;
  box-shadow: inset -5px -3px 5px 0px #dfe4ea, inset 4px 2px 6px 0px white;
}

// common setting
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  background-color: $basic-color;
  color: $font-color;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

// style
.container {
  @include neumorphism;
  border-radius: 25px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  padding: 20px 0;
}

.lotto-container {
  width: 450px;
  padding-bottom: 10px;
}

.select-lotto {
  display: flex;
  justify-content: space-evenly;

  button {
    @include neumorphism;
    border-radius: 15px;
    border: 1px;
    padding: 10px;
    color: $font-color;

    &:hover {
      @include neumorphismClick;
    }
  }
  .button-click {
    @include neumorphismClick;
  }
}

#lotto-list {
  margin-top: 20px;

  .lotto-number {
    @include neumorphism;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    padding: 11px 0;
    color: $white;
    font-weight: 600;

    &:nth-child(-n + 2) {
      background-color: #fcc43e;
    }
    &:nth-child(3) {
      background-color: #8cc6e7;
    }
    &:nth-child(n + 4) {
      background-color: #a7a3de;
    }
  }
}
